ros2run==0.18.11
teleop-twist-keyboard==2.4.0
ament-flake8==0.12.11
launch-yaml==1.0.6
examples-rclpy-executors==0.15.2
quality-of-service-demo-py==0.20.5
ament-cppcheck==0.12.11
ros2controlcli==2.52.0
launch-testing-ros==0.19.7
topic-monitor==0.20.5
rqt-gui-py==1.1.7
sros2==0.10.5
rqt-reconfigure==1.1.2
rqt-graph==1.3.1
ros2lifecycle==0.18.11
rosidl-runtime-py==0.9.3
ros2param==0.18.11
rqt-shell==1.0.2
ros2launch==0.19.7
launch-ros==0.19.7
ament-lint-cmake==0.12.11
ament-cpplint==0.12.11
rqt-bag==1.1.5
ros2cli==0.18.11
rqt-service-caller==1.0.5
tf2-tools==0.25.8
launch==1.0.6
rqt-gui==1.1.7
ament-lint==0.12.11
ament-index-python==1.4.0
rqt-srv==1.0.3
generate-parameter-library-py==0.5.0
examples-rclpy-minimal-action-server==0.15.2
ros2bag==0.15.12
examples-rclpy-minimal-client==0.15.2
ros2component==0.18.11
examples-rclpy-minimal-service==0.15.2
rqt-bag-plugins==1.1.5
examples-rclpy-minimal-subscriber==0.15.2
ros2action==0.18.11
rqt-action==2.0.1
rosidl-cli==3.1.5
examples-rclpy-minimal-action-client==0.15.2
rqt-publisher==1.5.0
rqt-plot==1.1.2
launch-pytest==1.0.6
rqt-py-console==1.0.2
rqt-console==2.0.3
tf2-ros-py==0.25.8
ament-uncrustify==0.12.11
domain-coordinator==0.10.0
rqt-msg==1.2.0
examples-rclpy-minimal-publisher==0.15.2
demo-nodes-py==0.20.5
rpyutils==0.2.1
ros2topic==0.18.11
ament-xmllint==0.12.11
ros2service==0.18.11
ros2multicast==0.18.11
ament-copyright==0.12.11
osrf-pycommon==2.0.2
action-tutorials-py==0.20.5
rqt-topic==1.5.0
ros2node==0.18.11
ros2interface==0.18.11
ros2doctor==0.18.11
ament-package==0.14.0
launch-testing==1.0.6
ros2pkg==0.18.11
ament-pep257==0.12.11
launch-xml==1.0.6
sensor-msgs-py==4.2.4
qt-gui-py-common==2.2.3
rosidl-adapter==3.1.5
resource-retriever==3.1.2
builtin-interfaces==1.2.1
gazebo-msgs==3.9.0
controller-manager-msgs==2.52.0
std-msgs==4.2.4
shape-msgs==4.2.4
tf2-py==0.25.8
interactive-markers==2.3.2
actionlib-msgs==4.2.4
stereo-msgs==4.2.4
example-interfaces==0.9.3
nav-msgs==4.2.4
action-tutorials-interfaces==0.20.5
message-filters==4.3.5
laser-geometry==2.4.0
angles==1.15.0
rmw-dds-common==1.6.0
rcutils==5.1.6
rqt-py-common==1.1.7
rclpy==3.3.14
unique-identifier-msgs==2.2.1
scripts==3.9.0
python-qt-binding==1.1.2
rosidl-typesupport-introspection-cpp==3.1.5
controller-manager==2.52.0
qt-dotgraph==2.2.3
rosidl-generator-cpp==3.1.5
action-msgs==1.2.1
rosidl-parser==3.1.5
rosgraph-msgs==1.2.1
rcl-interfaces==1.2.1
rosbag2-py==0.15.12
std-srvs==4.2.4
ament-cmake-test==1.3.10
composition-interfaces==1.2.1
rosidl-cmake==3.1.5
map-msgs==2.1.0
tf2-kdl==0.25.8
diagnostic-updater==4.0.0
trajectory-msgs==4.2.4
logging-demo==0.20.5
diagnostic-msgs==4.2.4
rosidl-typesupport-c==2.0.1
statistics-msgs==1.2.1
rosbag2-interfaces==0.15.12
qt-gui==2.2.3
rosidl-typesupport-fastrtps-cpp==2.2.2
image-geometry==3.2.1
cv-bridge==3.2.1
rosidl-typesupport-fastrtps-c==2.2.2
tf2-geometry-msgs==0.25.8
pcl-msgs==1.0.0
lifecycle-msgs==1.2.1
control-msgs==4.8.0
rosidl-typesupport-introspection-c==3.1.5
tf2-msgs==0.25.8
rosidl-generator-c==3.1.5
sensor-msgs==4.2.4
geometry-msgs==4.2.4
rosidl-typesupport-cpp==2.0.1
pendulum-msgs==0.20.5
turtlesim==1.4.2
rosidl-generator-py==0.14.4
xacro==2.0.8
qt-gui-cpp==2.2.3
ackermann-msgs==2.0.2
visualization-msgs==4.2.4
wandb==0.19.9
pip==24.2
networkx==2.2
pyquaternion==0.9.9
rpds-py==0.20.1
markdown-it-py==3.0.0
ptyprocess==0.7.0
wcwidth==0.2.13
backcall==0.2.0
platformdirs==4.3.6
kiwisolver==1.4.7
asttokens==3.0.0
addict==2.4.0
torchvision==0.13.0+cu113
certifi==2025.1.31
tabulate==0.9.0
dash==2.18.2
setuptools==75.1.0
retrying==1.3.4
torchaudio==0.12.0+cu113
attrs==25.3.0
ipdb==0.13.13
psutil==7.0.0
dash-html-components==2.0.0
smmap==5.0.2
dash-table==5.0.0
mmengine==0.10.7
Flask==3.0.3
pyglet==2.1.6
typing_extensions==4.12.2
trimesh==4.6.12
cycler==0.12.1
tzdata==2025.1
pkgutil_resolve_name==1.3.10
PyOpenGL==3.1.0
jupyter_core==5.7.2
plotly==6.0.0
Pygments==2.19.1
iopath==0.1.10
charset-normalizer==3.4.1
yacs==0.1.8
six==1.17.0
prompt_toolkit==3.0.50
pyperclip==1.9.0
pycocotools==2.0.7
nest-asyncio==1.6.0
traitlets==5.14.3
setproctitle==1.3.5
fonttools==4.56.0
gitdb==4.0.12
dash-core-components==2.0.0
freetype-py==2.5.1
mmcv==1.4.8
portalocker==3.0.0
pandas==2.0.3
opencv-python==4.2.0.32
pillow==10.4.0
protobuf==3.20.1
urllib3==2.2.3
scipy==1.10.1
pydantic_core==2.27.2
GitPython==3.1.44
sentry-sdk==2.25.1
matplotlib-inline==0.1.7
Werkzeug==3.0.6
click==8.1.8
referencing==0.35.1
yapf==0.43.0
sapien==3.0.0b1
requests==2.32.3
Jinja2==3.1.6
mdurl==0.1.2
PyYAML==6.0.2
pycollada==0.6
jsonschema-specifications==2023.12.1
matplotlib==3.7.5
ipywidgets==8.1.5
decorator==5.2.1
idna==3.10
fastjsonschema==2.21.1
lxml==5.4.0
tensorboardX==2.5.1
annotated-types==0.7.0
jsonschema==4.23.0
docker-pycreds==0.4.0
parso==0.8.4
eval_type_backport==0.2.2
comm==0.2.2
contourpy==1.1.1
blinker==1.8.2
tqdm==4.67.1
transforms3d==0.4.2
urdfpy==0.0.22
imageio==2.35.1
pydantic==2.10.6
tomli==2.2.1
jupyterlab_widgets==3.0.13
pytz==2025.1
importlib_resources==6.4.5
itsdangerous==2.2.0
pyparsing==3.1.4
jedi==0.19.2
ipython==8.12.3
pickleshare==0.7.5
git-filter-repo==2.47.0
stack-data==0.6.3
wheel==0.44.0
executing==2.2.0
torch==1.12.0+cu113
rich==13.9.4
threadpoolctl==3.5.0
torchdiffeq==0.2.5
nbformat==5.10.4
fvcore==0.1.5.post20221221
pure_eval==0.2.3
MarkupSafe==2.1.5
zipp==3.20.2
ConfigArgParse==1.7
packaging==24.2
pexpect==4.9.0
python-dateutil==2.9.0.post0
joblib==1.4.2
pyrender==0.1.45
open3d==0.19.0
scikit-learn==1.3.2
widgetsnbextension==4.0.13
numpy==1.23.5
narwhals==1.30.0
termcolor==2.4.0
importlib_metadata==8.5.0
pointnet2==0.0.0
pytorch3d==0.7.8
autocommand==2.2.2
backports.tarfile==1.2.0
packaging==24.1
more-itertools==10.3.0
typing_extensions==4.12.2
importlib_resources==6.4.0
jaraco.context==5.3.0
platformdirs==4.2.2
typeguard==4.3.0
importlib_metadata==8.0.0
zipp==3.19.2
tomli==2.0.1
jaraco.collections==5.1.0
inflect==7.3.1
jaraco.functools==4.0.1
jaraco.text==3.12.1
wheel==0.43.0
